<p class="display-4">Admin panel</p>
<h2>Our orders</h2>

<% @orders.each_with_index do |o, i| %>
	<%= o.name %>
	<%= o.phone %>
	<%= o.address %>
	<%= o.order_input %>
	<% %>
	<% %>
	<%= %><br>
<% end %>