<br>
<div class="container">
	<p class="display-4">Wellcome to Pizza Shop!</p>
	<br>
	<div class="row">
		<% @products.each do |product| %>

		<div class="col">
			<div class="card" style="width: 18rem;">
			  <img src="<%= product['path_to_image'] %>" class="card-img-top" alt="<%= product['title'] %>">
			  <div class="card-body row">
			  	<div class="col align-self-center"><h5 class="card-text"><%= product['title'] %></h5></div>
			  	<div class="col"><h2 class=" text-right">₽<%= product['price'].to_i %></h2></div>
			    <p class="card-text text-muted pl-3"><%= product['description'] %></p>
			  </div>
			</div>
		</div>

		<% end %>
	</div>

</div>

